:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  background-color: #EEEAE7;
}

.errorMessage {
  color: red;
}

.colorTitle {
  color: #1ff68b;
  text-align: center;
}